.slide.cover h2, .slide.cover p{
  background-color: #E66000;
  opacity : .75;
  border-radius : 5px;
}

.my_right {
	bottom: 30px;
	right: 50px;
}

.my_div {
	display: flex;
	justify-content: center;
}

.my_img {
	display: block;
    margin: -60px 0 0 0;
    padding: 0;
}
